/*    
    Of course no HTML page is good without its proper CSS
    Each section will be divided by the webpage it fits with
    and comments will explain the major changes taking place
    Author: Kyle Gruen
    Date: 10-25-2022
*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

/*Main CSS for All Pages*/

*{
    margin: 0; 
    padding: 0; 
    border: 0px solid red; 

}

body{
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    font-size: 24px; 
    color: black; 
}

html{
    scroll-behavior: smooth;
}


/* Navagation Bar Container */

#header-navbar{ 
    background-color: #2C3333;
    color: white;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;

    align-items: center;
    padding: 15px 10%;
}

#header-navbar h2{ 
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
    font-size: 30px;   
}


.logo{
    cursor: pointer; 
    font-size: 24px; 
}

.nav-links{
    list-style: none; 
    font-size: 20px; 
    margin-left: 20px; 
    margin-right: 20px; 

    display: flex; 
    justify-content: space-around; 
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px; 
    margin-right: 20px; 
    margin-left: 20px; 
}

.nav-links li a{
    transition: all 0.3s ease 0s; 
    color: white; 
    text-decoration: none;
}

.nav-links li a:hover{
    color: rgb(82, 158, 189);
}

#header-navbar button{
    padding: 9px 25px; 

    font-size: 20px; 
    background-color: whitesmoke;
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

header-navbar button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


/* Background Image Container */

#center-container{
    background-image:url(./images/beemovies.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    height: 95vh; 
    background-size: cover; 
    background-position: center; 

    display: flex; 
    flex-direction: column; 
    flex: 1; 
    justify-content: center; 
    align-content: center; 
    padding: 0 20px; 
}

.overlay{
    margin-bottom: 25px; 

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.button-start{
    margin-bottom: 200px; 
    display: flex;
    justify-content: center;  
}

button{
    padding: 10px 25px; 

    font-size: 18px; 
    background-color: whitesmoke;


    border: none; 
    border-radius: 75px;


    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


/* *{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    background-color: rgb(114, 114, 114);
    border: 2px red; 
}

li, a, button{
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #2C3333;
}

header h2{ 
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
    font-size: 30px;   
}


.logo{
    cursor: pointer; 
    font-size: 24px; 
}

.nav-links{
    list-style: none; 
    font-size: 20px; 
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px; 
}

.nav-links li a{
    transition: all 0.3s ease 0s; 
}

.nav-links li a:hover{
    color: rgb(91, 181, 216);
}

button{
    padding: 9px 25px; 

    font-size: 18px; 
    background-color: rgba(0, 136, 169, 1);
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.center-container{
    position: relative; 
    text-align: center; 
    display:flex; 
}

/*
.center-container h2{
    color: black; 
    font-weight: 400; 
}

.center-container img{  
    max-width: 100%; 
    height: auto; 
    background-size: 100% 100%;
    border: 10px red; 
    
}

.overlay{
    position: absolute; 
    top: 300px; 
    left: 15px; 
    font-weight: bold; 
    text-align:right; 
    font-size: 30px; 
} 





*/